.wrapper {
	flex: 1;
	background: linear-gradient(135deg, var(--turquoise-40), var(--turquoise-60), var(--turquoise-80));
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: toRem(20);
}

.container {
	width: 100%;
	max-width: toRem(800);
	border-radius: 1.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	@include adaptiveValue("padding-block", 20, 10);
	@include adaptiveValue("padding-inline", 25, 15);
	backdrop-filter: blur(toRem(10));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: toRem(15);
}

.title {
	font-family: var(--font-merriweather);
	@include adaptiveValue("font-size", 30, 20);
	font-weight: 700;
	margin-bottom: toRem(10);
	text-align: center;
	color: var(--turquoise-110);
	text-shadow: toRem(1) toRem(4) toRem(4) var(--turquoise-20);
}

.post {
	display: flex;
	flex-direction: column;
	gap: toRem(20);
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: toRem(680);
	background-color: var(--turquoise-20);
	border-radius: toRem(16);
	@include adaptiveValue("padding-block", 20, 14);
	@include adaptiveValue("padding-inline", 24, 18);
	box-shadow: 0 toRem(4) toRem(12) rgba(0, 0, 0, 0.5);
	transition:
		transform var(--transition-fast),
		box-shadow var(--transition-fast);

	@media (any-hover: hover) {
		&:hover {
			transform: translateY(toRem(-4));
			box-shadow: 0 toRem(8) toRem(20) rgba(0, 0, 0, 0.6);
		}
	}
}

.titlePost {
	@include adaptiveValue("font-size", 20, 14);
	color: var(--turquoise-100);
	font-weight: 600;
	text-align: center;
	margin-bottom: toRem(8);
}

.info {
	@include adaptiveValue("font-size", 16, 12);
	color: var(--turquoise-100-8);
	font-weight: 500;
}

.load,
.error,
.empty {
	text-align: center;
	font-family: var(--font-roboto);
	@include adaptiveValue("font-size", 20, 14);
	margin-top: toRem(40);
	color: var(--turquoise-90);
}

.error {
	color: #c0392b;
}

.empty {
	margin-bottom: toRem(40);
}

.load {
	color: var(--turquoise-10);
	margin-top: 0;
}