.wrapper {
	flex: 1;
	background: linear-gradient(135deg, var(--turquoise-40), var(--turquoise-60), var(--turquoise-80));
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: toRem(20);
}

.container {
	width: 100%;
	max-width: toRem(800);
	border-radius: 1.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	@include adaptiveValue("padding-block", 20, 10);
	@include adaptiveValue("padding-inline", 25, 15);
	backdrop-filter: blur(toRem(10));
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-family: var(--font-merriweather);
	@include adaptiveValue("font-size", 36, 24);
	font-weight: 700;
	margin-bottom: toRem(10);
	text-align: center;
	color: var(--turquoise-110);
	letter-spacing: toRem(1);
}

.button {
	display: block;
	margin: 2rem auto 0;
	background-color: var(--turquoise-50);
	border: none;
	border-radius: 12px;
	@include adaptiveValue("padding-block", 14, 10);
	@include adaptiveValue("padding-inline", 28, 22);
	@include adaptiveValue("font-size", 16, 12);
	font-weight: 600;
	color: var(--turquoise-10);
	cursor: pointer;
	transition:
		background-color var(--transition-base),
		transform var(--transition-base);
	will-change: background-color, transform;

	@media (any-hover: hover) {
		&:hover {
			background: var(--turquoise-30);
			transform: translateY(toRem(-2));
		}
	}

	&:active {
		transform: translateY(0);
		background: var(--turquoise-30);
	}
}
