:root {
	// Шрифти
	--font-roboto: "Roboto", sans-serif;
	--font-shantell: "Shantell Sans", sans-serif;
	--font-merriweather: "Merriweather", sans-serif;
	--font-ubuntu: "Ubuntu", sans-serif;

	--transition-fast: 0.2s ease-in-out;
	--transition-base: 0.3s ease-in-out;

	--transition-ease-fast: 0.2s ease;
	--transition-ease-base: 0.3s ease;

	--turquoise-10: #c6ffff;
	--turquoise-20: #3dfff8;
	--turquoise-30: #44eae2;
	--turquoise-40: #49dfd7;
	--turquoise-50: #48cac4;
	--turquoise-60: #42b1ab;
	--turquoise-70: #37928d;
	--turquoise-80: #29716d;
	--turquoise-90: #194d4b;
	--turquoise-100: #082a28;
	--turquoise-100-8: rgba(8, 42, 40, 0.8);
	--turquoise-110: #041b1a;
}
