.menu {
	max-width: toRem(1200);
	margin-inline: auto;
	padding-inline: toRem(15);
	display: flex;
	align-items: center;
	justify-content: center;

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("font-size", 20, 9.5);
		@include adaptiveValue("gap", 90, 15);
		flex-wrap: wrap;

		@media (max-width: $mobileSmall) {
			justify-content: space-between;
			width: 100%;
		}
	}

	&__link {
		position: relative;
		font-weight: 600;
		border-radius: toRem(8);
		@include adaptiveValue("padding-block", 8, 4);
		@include adaptiveValue("padding-inline", 14, 8);
		background-color: transparent;
		transition:
			color var(--transition-ease-base),
			background-color var(--transition-ease-base),
			box-shadow var(--transition-ease-base);
		will-change: color, background-color, box-shadow;

		@media (any-hover: hover) {
			&:hover {
				color: var(--turquoise-90);
				background-color: var(--turquoise-30);
				box-shadow: 0 toRem(2) toRem(6) var(--turquoise-30),
				0 toRem(-2) toRem(6) var(--turquoise-30);
			}
		}

		&.active {
			color: var(--turquoise-90);
			background-color: var(--turquoise-30);
			box-shadow:
				0 toRem(2) toRem(6) var(--turquoise-30),
				0 toRem(-2) toRem(6) var(--turquoise-30);
		}
	}
}
